.cph_tmp0lj0o6sl/
.cph_tmp1pu3txgt/
.cph_tmp1vuf2kpk/
.cph_tmp3olkerpt/
.cph_tmp9f5grhmf/
.cph_tmp9q3dqlyj/
.cph_tmpasc2wdkd/
.cph_tmpeli1wel9/
.cph_tmpiij5levi/
.cph_tmpnot5s0b0/
.cph_tmpug1erxmf/
.cph_tmpw9gkqfes/
.cph_tmpxmsog8cd/
.cph_tmpxx9zkt38/
__pycache__/
